<%- include('partials/header') %>
<h1>Welcome to the Restaurants Directory!</h1>
<p>You can click on <a href="/restaurants">Restaurants</a> in the Navigation Bar to view all restaurants.</p>
<p>Or <a href="/register">Register</a> and <a href="/login">Log In</a> for additional features.</p>
<%- include('partials/footer') %>
