<%- include('partials/header') %>
<h1>Log In</h1>
<form method="post" class="formgroup">
  <fieldset>
    <label for="username" class="col-sm-2">Username:</label>
    <input name="username" id="username" required class="col-sm-2" />
  </fieldset>
  <fieldset>
    <label for="password"class="col-sm-2" >Password:</label>
    <input name="password" id="password" type="password" required class="col-sm-2" />
  </fieldset>
  <fieldset>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
<%- include('partials/footer') %>
