<%- include('partials/header') %>
<h1>Register</h1>
<form method="post" class="formgroup">
  <fieldset>
    <label for="username">Username:</label>
    <input name="username" id="username" required />
  </fieldset>
  <fieldset>
    <label for="password">Password:</label>
    <input name="password" id="password" required />
  </fieldset>
  <fieldset>
    <label for="confirm">Confirm Password:</label>
    <input name="confirm" id="confirm" required />
  </fieldset>
  <fieldset>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
<%- include('partials/footer') %>
